<div class="modal fade" id="modal_afiliar_{{ object.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Alta Afiliado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">¿Estás seguro de que deseas dar de alta al afiliado? </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="{% url 'afiliados:afiliado_afiliar_desafiliar' pk=afiliado.pk accion='afiliar' origen=detalleAfiliadoParam %}" class="btn btn-success">Aceptar</a>
      </div>
    </div>
  </div>
</div>
