<div class="modal fade" id="modal_desafiliar_{{ object.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Desafiliar afiliado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">¿Estás seguro de que deseas dar de baja al afiliado?</div>
      <div class="modal-footer">
        <a href="{% url 'afiliados:afiliado_afiliar_desafiliar' pk=afiliado.pk accion='desafiliar' origen=detalleAfiliadoParam %}" class="btn btn-sm btn-danger">Confirmar</a>
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
