{% comment %} RAZON SOCIAL - CATEGORIA LABORAL {% endcomment %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
    <div class="col">
        <div class="form-group">
            <label for="{{ form.razon_social.id_for_label }}">Razón Social:</label>
            {{ form.razon_social }}
            {% include "error_campo.html" with field=form.razon_social %}
          </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="{{ form.categoria_laboral.id_for_label }}">Categoría Laboral:</label>
            {{ form.categoria_laboral }}
            {% include "error_campo.html" with field=form.categoria_laboral %}
          </div>
    </div>
</div>

{% comment %} RAMA - SUELDO - HORA DE JORNADA {% endcomment %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col">
        <div class="form-group">
            <label for="{{ form.rama.id_for_label }}">Rama:</label>
            {{ form.rama }}
            {% include "error_campo.html" with field=form.rama %}
          </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="{{ form.sueldo.id_for_label }}">Sueldo:</label>
            <input type="text" name="sueldo" required class="form-control" value="{{ form.initial.sueldo }}" />

            {% include "error_campo.html" with field=form.sueldo %}
          </div>
    </div>
    <div class="col">
        <div class="form-group">
          <label for="{{ form.horaJornada.id_for_label }}">Hora de Jornada:</label>
          <input type="number" name="horaJornada" step="1" min="1" max="49" required class="form-control" value="{{ form.horaJornada.value|default:'' }}" />
          {% include "error_campo.html" with field=form.horaJornada %}
        </div>
      </div>
</div>

{% comment %} FECHA INGRESO AL TRABAJO - LOCALIDAD DE LA EMPRESA {% endcomment %}
<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="{{ form.fechaIngresoTrabajo.id_for_label }}">Fecha de Ingreso al Trabajo:</label>
      {{ form.fechaIngresoTrabajo }}
      {% include "error_campo.html" with field=form.fechaIngresoTrabajo %}
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="{{ form.localidad_empresa.id_for_label }}">Localidad de la Empresa:</label>
      {{ form.localidad_empresa }}
      {% include "error_campo.html" with field=form.localidad_empresa %}
    </div>
  </div>
</div>


  {% comment %} CUIT DEL EMPLEADOR - DOMICILIO DE LA EMPRESA   {% endcomment %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
    <div class="col">
        <div class="form-group">
            <label for="{{ form.cuit_empleador.id_for_label }}">CUIT del Empleador:</label>
            {{ form.cuit_empleador }}
            {% include "error_campo.html" with field=form.cuit_empleador %}
          </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="{{ form.domicilio_empresa.id_for_label }}">Domicilio de la Empresa:</label>
            {{ form.domicilio_empresa }}
            {% include "error_campo.html" with field=form.domicilio_empresa %}
          </div>
    </div>
  </div>