<!-- Modal -->
<div class="modal fade" id="modalCuotas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cuotas</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
            
            {% if cuotas %}
            
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Comprobante</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for cuota in cuotas %}
                        <tr>
                            <td class="negrita">{{ forloop.counter }}</td>
                            <td> {{ cuota.fecha_pago }} </td>
                            <td> ${{cuota.monto}} </td>
                            <td> {{cuota.pdf_transferencia}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            {% else %}
            <p>No tiene cuotas registradas.</p>
            {% endif %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  