{% extends 'home_afiliado.html' %}
{% load static %}

{% block container %}

  {% block nav_top %}
  {% include 'nav_top.html' %}
  {% endblock %}
  
	<div class="wrapper d-flex align-items-stretch">
    {% block nav_lateral %}
      {% include 'nav_lateral_afiliado_historial.html' %}
    {% endblock %}
    
    <div id="content" class="p-4 p-md-5 pt-5">
      {% block dinamica %}
      {% include 'home_afiliado.html' %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}

  {% block nav_lateral_filtro %}
  {% endblock %}

  {% block extrajs %}
  {% endblock %}
  