/* Estilos generales */
.container-sm {
    margin: 20px;
    padding: 20px;
    width: 97%;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botones de acción */
.btn {
    margin: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #555e66;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil img {
    max-width: 130%;
    width: 25%;
    margin-right: 20%;
    margin-left: 5%;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}