{% extends 'alta_gestion_afiliados.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="tab-content" id="form-tabs-content">
          {% comment %}SECCION 1{% endcomment %}
          {% include 'persona_alta.html' %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-success" >Guardar y cerrar ventana</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
