  {% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block extracss %}
  <link href="{% static 'css/alta_ventana_nueva.css' %}" rel="stylesheet" />
{% endblock %}

{% block container %}
  <div class="container">
    <div class="row justify-content-center">
      {% include 'message.html' %}
      <h3 class="titulo">{{ titulo }}</h3>
      
      {% block formulario %}
      {% endblock %}
      {% block js %}
      {% endblock %}
    </div>
  </div>
  
{% endblock %}

{% block extrajs_intermedia %}
{% endblock %}
