{% extends 'home_curso.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/detalle.css' %}" rel="stylesheet" />
  <link href="{% static 'css/listado.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
  <div class="container-sm">
    <h2 class="titulo">{{ titulo }}</h2>
    {% block detalle %}

    {% endblock %}
    {% block horarios %}

    {% endblock %}
    <div class="row">
      {% block botones %}

      {% endblock %}
    </div>
  </div>
  
  {% block listado_asociado %}
  {% endblock %}


{% endblock %}
