{% load static %}

<form method="post" action="{% url 'cursos:gestion_lista_espera' pk=curso_pk rol_pk=lista.rol.pk accion='incorporar_dictado' %}">

  
  <div class="modal fade" id="modal_inscribir_sacar_incribir_dictado{{ lista.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Inscribir</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body text-center">

          Selecione el dictado al que se quiere inscribir <strong>{{ lista.rol.persona.nombre }} {{ lista.rol.persona.apellido }}</strong>
          
          {% comment %} {{dictado}} {% endcomment %}
          
          <div class="container row">
            <select name="dictado_pk" class="form-select" aria-label="Default select example">
              {% for dictado in dictados %}
              <option value="{{ dictado.id }}"> Legajo: {{ dictado.legajo}} {{ dictado.get_estado_display }} | Inicio: {{ dictado.fecha }} | Desc:{{dictado.descuento}}%</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success">Inscribir</button>
        </div>
      </div>
    </div>
  </div>
</form>

{% comment %} <script>
function gestionListaEspera(accion, curso_pk, dictado_pk, persona_pk, tipo) {
  var url = `{% url 'cursos:gestion_lista_espera' curso_pk=9999 dictado_pk=9999 persona_pk=8888 tipo='placeholder' accion='placeholder' %}`
    .replace('9999', curso_pk)
    .replace('9999', dictado_pk)
    .replace('8888', persona_pk)
    .replace('placeholder', tipo)  // Reemplazar el tipo dinámicamente
    .replace('placeholder', accion);  // Reemplazar la acción dinámicamente
      
  window.location.href = url;
}

// Llamadas específicas
function gestionListaEsperaAfiliado(accion, curso_pk, dictado_pk, persona_pk) {
  gestionListaEspera(accion, curso_pk, dictado_pk, persona_pk, 'Afiliado');
}

function gestionListaEsperaFamiliar(accion, curso_pk, dictado_pk, persona_pk) {
  gestionListaEspera(accion, curso_pk, dictado_pk, persona_pk, 'Familiar');
}

function gestionListaEsperaProfesor(accion, curso_pk, dictado_pk, persona_pk) {
  gestionListaEspera(accion, curso_pk, dictado_pk, persona_pk, 'Profesor');
}

function gestionListaEsperaAlumno(accion, curso_pk, dictado_pk, persona_pk) {
  gestionListaEspera(accion, curso_pk, dictado_pk, persona_pk, 'Alumno');
}
</script> {% endcomment %}
