{% extends 'detalle_listado_app_cursos.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block detalle %}
  <div class="col">
    <p>
      <strong>Nombre:</strong> {{ object.nombre }}
    </p>
  </div>
  {% endblock %}
  
  {% block botones %}
  <div class="col d-flex">
    <a href="{% url 'cursos:gestion_actividad' %}" class="btn btn-sm btn-secondary btn-detalle">
      <i class="fa-solid fa-arrow-left"></i> Volver
    </a>
  </div>

  <div class="col d-flex justify-content-center">
    <a href="{% url 'cursos:actividad_editar' object.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-pen-to-square"></i> Modificar</a>
  </div>
  
  <div class="col d-flex justify-content-end">
    <button type="button" class="btn btn-danger btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal_dar_de_baja_{{ object.pk }}"><i class="fa-regular fa-circle-down"></i> Eliminar</button>
    {% include 'actividad/modal_confirm_baja.html' with actividad=object %}            
  </div>
{% endblock %}

{% block listado_asociado %}
{% if cursos %}
<div class="container-sm">
  <h3 class="subtitulo">{{ tituloListado }}</h3>
  {% include 'curso/curso_include_listado.html' with cursos=cursos %}

  
{% endif %}
{% endblock %}