<div class="modal fade" id="exampleModal_dar_de_baja_{{ actividad.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar Baja de la Actividad</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">¿Estás seguro de que deseas dar de baja esta actividad?</div>
      <div class="modal-footer">
        <a href="{% url 'cursos:actividad_eliminar' actividad.pk %}" class="btn btn-danger">Confirmar Baja</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
