<table class="table table-sm table-hover" style="width: 45%;">
    <thead>
      <tr>
        <th>Día</th>
        <th>Horario</th>
        <th colspan="5">Lugar</th>
      </tr>
    </thead>
    <tbody>
      {% for horario in horarios %}
      <tr>
        <td>{{ horario.get_dia_semana_display }}</td>
        <td>{{ horario.hora_inicio }} a {{ horario.hora_fin }} hrs.</td>

        <td>
          {% if horario.reserva %}{{ horario.reserva.aula }}
          {% else %}Sin asignar{% endif %}
        </td>
        
        {% if horario.reserva %}
        <td>
          <a href="{% url 'cursos:aula_detalle' horario.reserva.aula.pk %}" class="btn btn-info btn-sm btn-detalle"><i class="fa-solid fa-chair"></i> Ir al Aula</a>
        </td>
        {% endif %}

        {% if not horario.reserva %}
        <td class="text-end">

          {% if not hay_reserva and not horario.es_primer_horario%}
          <a href="{% url 'cursos:horario_eliminar' curso_pk=horario.dictado.curso.pk dictado_pk=horario.dictado.pk horario_pk=horario.pk %}" class="btn btn-outline-danger btn-sm btn-detalle">
            Eliminar
          </a>
          {% endif %}

          {% if hay_reserva %}
          <a href="{% url 'cursos:asignar_aula' curso_pk=horario.dictado.curso.pk dictado_pk=horario.dictado.pk horario_id=horario.pk %}" class="btn btn-outline-success btn-sm btn-detalle">
            <i class="fa-solid fa-door-open"></i>Reservar Aula
          </a>
          {% else %}
              <button type="button" class="btn btn-outline-success btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal{{ horario.pk }}">
                  <i class="fa-solid fa-door-open"></i>Reservar Aula
              </button>
          {% endif %}
        </td>
      {% endif %}
      </tr>
      <!-- Modal -->
      {% if not horario.reserva %}
      <div class="modal fade" id="exampleModal{{ horario.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Reserva de aula</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿Desea reservar aulas? Una vez hecha una reserva no podrá generar más horarios ni eliminar horarios.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm " data-bs-dismiss="modal">Cancelar</button>
              <a href="{% url 'cursos:asignar_aula' curso_pk=horario.dictado.curso.pk dictado_pk=horario.dictado.pk horario_id=horario.pk %}" class="btn btn-success btn-sm">
                <i class="fa-solid fa-door-open"></i> Reservar
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>