{% extends "listado.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block botones %}
{% endblock %}

{% block tabla_listado %}
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for alumno in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ alumno.persona.dni }}</td>
            <td>{{ alumno.persona.apellido }}</td>
            <td>{{ alumno.persona.nombre }}</td>
            <td class="text-end">
                <a href="{% url 'cursos:alumno_detalle' pk=alumno.pk %}" class="btn btn-info btn-sm btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>      
</table>
{% endblock %}